{% extends 'base.html' %}

{% block title %}Add New User{% endblock %}

{% block content %}

<h1>Create a new user</h1>

<form action="/users/form" method='POST'>

  <div>
    <label for="first_name">First Name:</label>
    <div>
      <input type="text" name="first_name" placeholder="Enter a first name" required>
    </div>
  </div>
  <br>

  <div>
    <label for="last_name">Last Name:</label>
    <div>
      <input type="text" name="last_name" placeholder="Enter a last name" required>
    </div>
  </div>
  <br>

  <div>
    <label for="image_url">Image URL:</label>
    <div>
      <input type="text" name="image_url" placeholder="Provide an image of this user">
    </div>
  </div>
  <br>

  <a href="/users" class="cancel-form-btn">Cancel</a>
  <button type="submit" class="save-form-btn">Save</button>
</form>

{% endblock %}