{% extends 'base.html' %}

{% block title %}Post Detail: {{post.user.full_name}}{% endblock %}

{% block content %}

<h1>{{post.title}}</h1>
<i><small><p>{{ post.dt_formatting }}</p></small></i>
<small><p>by {{ post.user.full_name()}}</p></small>
    




<div>
    <p class="content">{{ post.content }}</p>
</div>


<!-- BUTTONS cancel edit delete -->
<div class="edit-delete-btn-container">
        
    <form action="/posts/{{post.id}}/edit" method="GET">
        <!-- <a href="/users/{{ post.user_id }}" class="cancel-post-btn">Cancel</a> -->
        <button type="submit" class="edit-btn">Edit</button>
    </form>

    <form action="/posts/{{post.id}}/delete" method="POST">
        <button type="submit" class="delete-btn">Delete</button>
    </form>

</div>

<div class="return-home">
    <a href="/users/{{ post.user_id }}">Return Home</a>
</div>



{% endblock %}



<!-- to show details on each post  -->