{% extends 'base.html' %}

{% block title %} Posts {% endblock %}

{% block content %}

<h1> Recent Posts </h1>

<ol>
  {% for post in posts %}
  <li>
    <a href="/posts/{{ post.id }}">{{ post.title }}</a>
    <!-- <p class="created_time"><small>{{ post.dt_formatting }}</small></p> -->
    <p class="created_user"><small><a href="/users/{{ post.user.id }}">by {{ post.user.full_name() }}</a></small></p>
  </li>
  {% endfor %}
</ol>

<div class="add-btn">
  <a href="/users">View all Users</a>
  <!-- <a href="/users/form">Add User</a> -->
  <!-- <a href="/">Recent Posts</a> -->
</div>

{% endblock %}