{% extends 'base.html' %}

{% block title %} Edit Post {% endblock %}


{% block content %}

<h1>Edit Post</h1>
<h2>{{ post.title }}</h2>

<form action="/posts/{{ post.id }}/edit" method='POST'>

      <div class="form-row">
        <label for="title" class="label-title">Edit Title:</label>
        <div><input type="text" class="input-title" name="title" required></div>
      </div>

      <div class="form-row">
        <label for="content" class="label-content">Edit Content:</label>
        <div><textarea class="input-content" rows="10" name="content" required></textarea></div>
      </div>

  <!-- <div> -->
      <a href="/users/{{ post.user_id }}" class="cancel-form-btn">Cancel</a>
      <button type="submit" class="add-post-btn">Save Edit</button>
  <!-- </div> -->

</form>

{% endblock %}